Find biggest element from the list

In [4]:
l = [2,4,4,1,2,3,4,5,6,77,88,99,55]
biggest = l[0]
for i in l[1:]:
    if biggest<=i:
        biggest = i
print(biggest)

99

Square of each element in list

In [6]:
l = [2,4,4,1,2,3,4,5,6,77,88,99,55]
i=0
while i< len(l):
    l[i] = l[i]*l[i]
    i+=1
print(l)

[4, 16, 16, 1, 4, 9, 16, 25, 36, 5929, 7744, 9801, 3025]

In [12]:
l = [2,3,4,5,6,7,8,9]
for i , item in enumerate(l):
    l[i] = item * item
print(l)

[4, 9, 16, 25, 36, 49, 64, 81]

### Enumerate

In [11]:
fruits = ['Apple',"Banana","Mango","Orange"]
for idx , fruit in enumerate(fruits , start = 1):
    print(idx,fruit)

1 Apple
2 Banana
3 Mango
4 Orange

Removing all occurences

In [17]:
l = [4,4,1,2,3,4,5,6,77,4,88,99,4,55]
rem = 4
indices = []
for i , x in enumerate(l):
    if x == rem:
        indices.append(i)
indices.reverse()
for i in indices:
    l.pop(i)
print(l)

[1, 2, 3, 5, 6, 77, 88, 99, 55]

In [20]:
l = [1,2,3,4,2,5,2,6,2,7,2,8,2,9,2]
rem = 2
indices = []
for i , x in enumerate(l):
    if x == rem:
        indices.append(i)
indices.reverse()
for i in indices:
    l.pop(i)
print(l)

[1, 3, 4, 5, 6, 7, 8, 9]

Extend

In [22]:
l = [1,2,3,4]
m = [5,6,7,8]
l.extend(m)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

SORTING

In [3]:
l = [9,6,5,4,13,45,6,4,3,23,5,66]
l.sort()
print(l)

[3, 4, 4, 5, 5, 6, 6, 9, 13, 23, 45, 66]

In [4]:
l = [9,6,5,4,13,45,6,4,3,23,5,66]
l.sort(reverse = True)
print(l)

[66, 45, 23, 13, 9, 6, 6, 5, 5, 4, 4, 3]

Unpacking

In [5]:
l =[1,2,3]
x ,y ,z=l
print("x:{},y:{},z:{}".format(x,y,z))

x:1,y:2,z:3

## When having single element: We put a comma at the end, when there is one element in the tuple, Why? This is required, to diï¬€erentiate with an expression.
x = (9) y = (9,)
x is an integer and y is a tuple

In [9]:
x=(9)
y=(9,)
print(type(x))
print(type(y))

<class 'int'>
<class 'tuple'>

In [10]:
primes = {1:2,2:3,4:7,7:17}
print(primes[primes[4]])

17

ITERATIONS ON TUPLE

In [57]:
f = [('Apple',30),('Mango',20),('Kiwi',25),('Orange',50)]
bigger=0
for i , item in f:
    if item>bigger:
        a=sorted(f,reverse=True)
print(a)
for i, item in a:
    print(item," ",end='')

[('Orange', 50), ('Mango', 20), ('Kiwi', 25), ('Apple', 30)]
50  20  25  30

##### LAMBDA

In [61]:
f = lambda x,y : x * y

print(f(4,5))

20

In [62]:
key =  lambda x : x[0]
l=[1,2,3]
print(key(l))

1

In [63]:
key = lambda x : x[0]
t = (12,'Amit',2400)
t1 = (14,'Saurabh',2100)
print(key(t)>key(t1))

False

In [68]:
employees = [(1239, 'John', 23000, 25),
             (1235, 'Samantha', 13000, 21),
             (1238, 'Amanda', 45000, 30), 
             (1237, 'Alex', 57000, 31),
             (1236, 'Vicky', 40000, 24)]
records = sorted(employees ,key = lambda x:x[0],reverse = True)
for rec in records:
    print(rec)

(1239, 'John', 23000, 25)
(1238, 'Amanda', 45000, 30)
(1237, 'Alex', 57000, 31)
(1236, 'Vicky', 40000, 24)
(1235, 'Samantha', 13000, 21)

In [85]:
employees = [(1239, 'John', 23000, 25),
             (1235, 'Samantha', 13000, 21),
             (1238, 'Amanda', 45000, 30), 
             (1237, 'Alex', 57000, 31),
             (1236, 'Vicky', 40000, 24)]
records =  ('Max sal:',max(employees,key = lambda x : x[2]))
print(records)

('Max sal:', (1237, 'Alex', 57000, 31))

Removing Duplicates

In [89]:
l = [1,2,3,4,1,23,3,4,2,23,1,10,7,8,6,9,7]
m =[]
for i in l:
    if i not in m:
        m.append(i)
print(m)

[1, 2, 3, 4, 23, 10, 7, 8, 6, 9]