In [2]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
girls = ['zoya','shivani','jai']
boys = ['shubham','john','zyan']
[g+"+"+b for g in girls for b in boys if(g[0]==b[0])]

['zoya+zyan', 'shivani+shubham', 'jai+john']

In [12]:
[i for i in range(10) if(i%2==0)]

[0, 2, 4, 6, 8]

In [15]:

from math import sin
s=[round(sin(i),3) for i in range(10)]
print(s)

[0.0, 0.841, 0.909, 0.141, -0.757, -0.959, -0.279, 0.657, 0.989, 0.412]

In [19]:
#Filtering
from math import sin
s=[round(sin(i),3) for i in range(10)]
print(s)
print('After Filter')
s1=[print(i,end=' ') for i in s if i>0]

[0.0, 0.841, 0.909, 0.141, -0.757, -0.959, -0.279, 0.657, 0.989, 0.412]
After Filter
0.841 0.909 0.141 0.657 0.989 0.412

Using multiple for loops: Cartesian Product

In [23]:
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

Converting forenheit to celsius using list comprehension

In [28]:
temp=[43.2,54.5,77,54,33.2,22,11.33]
cel =[round((f-32.0)/(9.0/5.0), 2) for f in temp] 
print(cel)

[6.22, 12.5, 25.0, 12.22, 0.67, -5.56, -11.48]

TUPLE COMPREHENSION

In [29]:
gen=( i for i in range(10))
print(gen)

<generator object <genexpr> at 0x008C98A0>

In [30]:
next(gen)

0

In [31]:
next(gen)

1

SET COMPREHENSION

In [34]:
st={i*i for i in range(10)}
st

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

ZIP

In [43]:
l1 = [3, 4, 5, 7, 1]
l2 = ["Q", "P", "A", "Z", "T", 'K', 'B']
l3 = [True, False, True, True, False, True] 

for t in zip(l1 ,l2 ,l3):
    print(t)

(3, 'Q', True)
(4, 'P', False)
(5, 'A', True)
(7, 'Z', True)
(1, 'T', False)

In [44]:
l1 = [3, 4, 5, 7, 1] 
l2 = ["Q", "P", "A", "Z", "T", 'K', 'B']
for x, y in zip(l1, l2): 
    print (x, y)

3 Q
4 P
5 A
7 Z
1 T

ZIP work on any type of sequenses

In [45]:
l = [ 3, 4, 2, 1, 9, 6] 
a = 'Apple' 
s = {4.5, 6.7, 3.4, 9.8} 
for t in zip(l,a,s):
    print(t)

(3, 'A', 6.7)
(4, 'p', 9.8)
(2, 'p', 4.5)
(1, 'l', 3.4)

Unzipping

In [47]:
lt = [(3, 'Q'), (4, 'P'), (5, 'A'), (7, 'Z'), (1, 'T')]
for t in zip(*lt):
    print(t)

(3, 4, 5, 7, 1)
('Q', 'P', 'A', 'Z', 'T')

CREATING DICT USING ZIP

In [49]:
keys = [3, 4, 5, 7, 1] 
values = ["Q", "P", "A", "Z", "T"] 
dict(zip(keys,values))

{3: 'Q', 4: 'P', 5: 'A', 7: 'Z', 1: 'T'}

DICT COMPREHENSION

In [53]:
keys = [x for x in range(1, 6)] 
values = ['one', 'Two', 'Three', 'Four', 'Five'] 
k={print(key,value) for key,value in zip(keys,values)}

1 one
2 Two
3 Three
4 Four
5 Five
{None}

In [52]:
keys = [x for x in range(1, 6)] 
values = ['one', 'Two', 'Three', 'Four', 'Five'] 
k={key:value for key,value in zip(keys,values)}
print(k)

{1: 'one', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

MAP

In [56]:
t =[12,31,11,10,21]
def sq(i):
    s=i*i
    return s
sqrt = map(sq,t)
for x in sqrt:
    print(x)

144
961
121
100
441

In [62]:
num=[11,12,13,14,15,16,17,18]
def cube(c):
    res=c**3
    return res
cu=map(cube,num)
for i in cu:
    print(i)

1331
1728
2197
2744
3375
4096
4913
5832

FILTER

In [65]:
num=[11,12,13,14,15,16,17,18]
def cube(c):
    res=c**3
    return res
cu=map(cube,num)
more = 2000
def f(t):
    return True if t>more else False
for x in filter(f,cu):
    print(x)

2197
2744
3375
4096
4913
5832

Reduce

In [67]:
from functools import reduce 
def add(x, y): 
    return x + y
reduce(add, [1, 3, 4, 5])

13

In [70]:
from functools import reduce
def sqrt(x,y):
    return x*y
reduce(sqrt,[2,3,4,5])

120

In [72]:
import functools 
def add(*args):
    print (len(args)) 
    return sum(args)
functools.reduce(add, [5, 6, 7, 8, 9, 1, 9])

2
2
2
2
2
2

45