Dictionary

In [ ]:
di={'apple':10,'banan':20}

In [ ]:
di

In [ ]:
di['apple']

In [ ]:
di[10]

In [ ]:
di(0)

In [ ]:
d={'Sunday':10,'Monday':20,'Tuesday':33,'Wednsday':37.33,'Thursday':37,'Friday':32.44,'Saturday':39}
d

In [ ]:
d['Sunday']

In [ ]:
for i in d:
    print(i)

Correct way to write a for loop for a dictionary

In [ ]:
for i in d:
    print(i,d[i])

Creating an empty dictionary:

In [ ]:
f={}

In [ ]:
f=dict()

In [ ]:
type(f)

Creating dict and initilizing with key-value pairs:

In [ ]:
f={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(f)

In [ ]:
f

Retreiving value from dictionary

In [ ]:
f

In [ ]:
print(f['Mango'])

In [ ]:
f['Orange']

In [ ]:
f['peach']=100

In [ ]:
f

Adding key-value pair to a dictionary: 
Syntax: 
        d[Key] = Value

In [ ]:
d={'apple':a,'ball':b}

In [ ]:
d={'bat':30,'pad':40,'ball':49,'footbal':50}

In [ ]:
d['volleyball']=300

In [ ]:
d

Accessing a key, which doesn't exist:

In [ ]:
d

In [ ]:
d['grape']

Using get() function:

In [ ]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}

In [ ]:
print(d.get('grapes'))

We can also specify, default value to return, if key doesn't exist.

In [ ]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(d.get('grapes',43))

Setting default Value if no value exists

In [ ]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(d.setdefault('grapes',43))

In [ ]:
d

In [ ]:
d.setdefault('Mango',40)

Checking Key existance in a dictionary

In [ ]:
d

In [ ]:
v={'Bentley':11,'Audi':12,'Mercedez':32,'Lambo':43}
key='Volvo'
print(key in d)

In [ ]:
v['Volvo']=32

In [ ]:
v

Removing a key-value pair

In [ ]:
v

In [ ]:
key='Audi'
v.pop(key)
print(v)

Iterating through for loop

In [ ]:
v

In [ ]:
for i in v:
    print(i ,v[i])

Removing a key-value pair

In [ ]:
v

In [ ]:
v.keys()

In [ ]:
d.values()

In [ ]:
d.items()

iterate through a list of tuples

In [ ]:
d

In [ ]:
for i, j in d.items():
    print(i,j)

Converting a list of tuples to a dict:

In [ ]:
lt=[('apple',30),('banans',30),('orange',60)]
dlt=dict(lt)
print(dlt)

Converting a list of list to a dict:

In [ ]:
ll=[['banana',30],['apple',100],['pulm',50]]
dll=dict(ll)
print(dll)

Updating/extending a dictionary

In [ ]:
d1={'sony':30,'samsung':23,'moto':45,'back':55}
d2={'apple':33,'oneplus':21}
d1.update(d2)
print(d1)

type constraints in Keys and Values:

In [1]:
d = {    1234        : ['C++', 'Java'],  
     (1299, 1289): ('Python', 'SQL'),  
     '1288'        : {'C#', 'Python'},
     (1266, 1277): 'Pyhon'    }
print(d[(1299, 1289)])

('Python', 'SQL')

In [2]:
print(d[1234])

['C++', 'Java']

In [ ]:
print(d['1288'])

Indexing

USECASE 1

In [ ]:
person_data = {    ('John Corner', 1964, 'Newyork') : ('John Corner', 'St Mary St', 'Stuart Corner'),
                   ('Ian Flemming', 1967, 'Perth')  : ('Ian Flemming','Richmond St', 'Grant Flemmin'),
               ('John Corner', 1964, 'Sydney')  : ('John Corner', 'Orchid str', 'Steffan Corner }

In [ ]:
('John Corner', 1964, 'Sydney') in person_data

COUNTING

In [ ]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",
         "Banana", "Apple", "Peach", "Apple", "Banana"] 
for i in words:
    print( i,words.count(i))

In [ ]:
words

In [ ]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach", 
         "Banana", "Apple", "Peach", "Apple", "Banana"] 
count={}
for i in words:
    if i not in count:
        count[i] =1
    else:
        count[i] += 1
print(count)

In [ ]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
         "Banana", "Apple", "Peach", "Apple", "Banana"]
count = {} 
for word in words:   
    if word not in count:
        count[word] = 1 
    else:  
            count[word] += 1
print(count)

In [ ]:
words

MAX COUNT

In [ ]:
cnt=max(count.items(),key=lambda x:x[1])
print(cnt)

In [ ]:
sorted()

In [ ]:
i={'a':20,'c':33,'d':2,'w':44,'r':55,'t':66,'z':67,'q':4}
sorted(i.items(),key= lambda x:x[1])

max

In [ ]:
maximum=max(i.items(),key = lambda x:x[1])
print(maximum)

Problem to return pair which sum is 10

In [ ]:
l=[1,9,3,7,5,5,5,2,8]
d={}
n=10
for x in l:
    if x not in d:
        d[x]=1
    else:
        d[x]+=1
print(d)
for x in d.keys():
    if x == n//2:
        c=d[x]//2
        d[x]-=2*c
    elif n-x in d:
        c=min(d[x],d[n-x])
        d[x]-=c
        d[n-x]-=c
    for i in range(c):
        print(x,n-x)
print(d)

In [ ]:
d={'a':2,'b':4}
d.keys()

In [ ]:
trans = [(1237, 87522),
         (1234, 1000),
         (1236, 6754),
         (1234, 200),
         (1236, 1700),
         (1234, 400),
         (1234, 600),
         (1236, 788),
         (1234, 500),
         (1237, 126653),
         (1999, 1000)]

deposite = {}

for _id, cash in trans:
    if _id not in deposite:
        deposite[_id] = [cash]
    else:
        deposite[_id].append(cash)
deposite

Palindrome

In [13]:

s=input('enter string')
rev=s[::-1]
print(rev)
if s==rev:
    print('string is palindrome')
else:
    print('not')

enter stringmalayalam
malayalam
string is palindrome

STRING ANAGRAM'S

In [16]:
s1=input('enter string1:')
s2=input('enter string:2')
if sorted(s1)==sorted(s2):
    print('string is anagram')
else:
    print('not anagram')

enter string1:shu
enter string:2hus
string is anagram

In [19]:
from collections import Counter
s1=input('enter string1:')
s2=input('enter string:2')
if Counter(s1)==Counter(s2):
    print('String is Anagram')
else:
    print('not anagram')

enter string1:sat
enter string:2tsa
String is Anagram

In [23]:
from collections import defaultdict
words = ['hell', 'cat', 'bell',
         'tab','tac', 'apt', 'dell',
         'act', 'tap', 'bat']
d = defaultdict(list) 
for word in words:
    ana=''.join(sorted(word))
    d[ana].append(word)
for ana,anagram in d.items():
    if len(anagram)>1:
        print(anagram)

['cat', 'tac', 'act']
['tab', 'bat']
['apt', 'tap']

MICROSOFT CONTEST PROGRAM

List of votes and contestants and age are given.
1. Find the contestant who wins the elections. 
2. If there is a tie, older contenstant wins

In [38]:
from collections import Counter,defaultdict
votes = ['Kenny','Amanda', 'John', 'Vicky', 'Alex','Amanda', 
         'John','Alex','Kenny', 'Vicky','Charles', 'Alex', 
         'Kenny','Eric','Charles', 'Eric',    'Laura',  'Michelle',
         'Eric',  'Vicky'] 
age = {'Kenny': 61,        'Amanda': 54,        'Alex': 79,   
       'John': 80,        'Vicky': 34,        'Eric': 50,   
       'Laura': 55,       'Michelle': 42,       'Charles': 70} 

# Finding vote count for each contestant 
namecnt=Counter(votes)
names=defaultdict(list)
# Grouping constestants with same count 
for n ,count in namecnt.items():
    names[count].append(n)
#finding winner
count,candidate = max(names.items())
# Finding max by their age
winner = max(candidate, key=lambda x:age[x])
print ('Winner is:', winner, ' With Count:', count)

Winner is: Alex  With Count: 3