In [1]:
l=['a','b','c','d']

In [2]:
l

['a', 'b', 'c', 'd']

In [3]:
l=[4]

In [4]:
l

[4]

In [6]:
l=[]

In [10]:
type(l)

list

In [11]:
l=[1,2,'a','d']

In [12]:
l

[1, 2, 'a', 'd']

Append of lists

In [13]:
l1=['a','s','d','f']
l2=['l','k','j','h']
l3=l1+l2

In [14]:
l3

['a', 's', 'd', 'f', 'l', 'k', 'j', 'h']

In [15]:
l3[4]

'l'

Remove

In [19]:
l3.remove('l')

ValueError: list.remove(x): x not in list

In [20]:
l3

['a', 's', 'd', 'f', 'k', 'j', 'h']

Insert on list

In [21]:
l3.insert(3,45)

In [22]:
l3

['a', 's', 'd', 45, 'f', 'k', 'j', 'h']

Multiple of list

In [23]:
l1*3

['a', 's', 'd', 'f', 'a', 's', 'd', 'f', 'a', 's', 'd', 'f']

Concat

In [25]:
l1+l2

['a', 's', 'd', 'f', 'l', 'k', 'j', 'h']

element access using index

In [26]:
s=[1,2,3,4,[33,44,55]]

In [27]:
s

[1, 2, 3, 4, [33, 44, 55]]

In [29]:
s[4][1]

44

In [30]:
frt=['Apple','Orange','Apple','Banana']

In [31]:
frt

['Apple', 'Orange', 'Apple', 'Banana']

In [32]:
frt[2]

'Apple'

In [33]:
frt[0]

'Apple'

In [34]:
id(frt[2])

13160480

In [36]:
id(frt[0])

13160480

In [37]:
sr=['Apple']

In [38]:
id(sr)

13164992

In [39]:
print(frt[3])

Banana

In [40]:
id(frt[3])

13161152

list Operations and Functions

Existence

In [41]:
l = [3, 4, 5, 8, 2, 1, 55, 4, 3, 12] 
x=13

In [42]:
x in l

False

In [43]:
l.append(x)

Finding length

In [46]:
len(l)

11

Modifying element of list

In [49]:
y=19
l.insert(4,y)

In [50]:
l

[3, 4, 5, 8, 19, 2, 1, 55, 4, 3, 12, 13]

In [52]:
i=3
l
l[i]=99

In [53]:
l

[3, 4, 5, 99, 19, 2, 1, 55, 4, 3, 12, 13]

In [54]:
l.append(47)

In [55]:
l

[3, 4, 5, 99, 19, 2, 1, 55, 4, 3, 12, 13, 47]

deleting a list

In [57]:
l.pop()

47

In [58]:
l

[3, 4, 5, 99, 19, 2, 1, 55, 4, 3, 12, 13]

Finding and deleting a element

In [96]:
l = [6, 4, 5, 25, 2, 1, 25, 7]
l.remove(25)
print(l)

[6, 4, 5, 2, 1, 25, 7]

Find the biggest element in a list

In [73]:
l=[22,1,44,5,678,53]
biggest=l[0]
for i in l:
    if biggest < i:
        biggest=i
print(biggest)

678

In [1]:
l1=[22,44,55]
biggest=l1[0]
for i in range(0,len(l1)):
    if biggest < l1[i]:
        biggest=l1[i]
print(biggest)

55

In [75]:
l=[3,4,5,666,777,4444,22,1111]
print(max(l))

4444

Square each element in the list and print

In [4]:
l=[12,13,14,1]
for i in l:
    print(i*i)

144
169
196
225

In [80]:
l

[3, 4, 5, 666, 777, 4444, 22, 1111]

In [81]:
for i in range (0,len(l)):
    l[i]=l[i]*l[i]
print(l)

[9, 16, 25, 443556, 603729, 19749136, 484, 1234321]

In [94]:
l=[4,6,7]

In [95]:
len(l)

3

Enumerate Function:

In [6]:
fruits = ["Apple", "Orange", "Grape", "Banana", "Peach"]
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 Apple
1 Orange
2 Grape
3 Banana
4 Peach

In [116]:
fruits=['apple','ball','cat']
for i , fruits in enumerate(fruits,start=1):
    print(i,fruits)

1 apple
2 ball
3 cat

In [117]:
list=[1,2,3,5,7,9]

In [118]:
list

[1, 2, 3, 5, 7, 9]

In [120]:
print(3 in list)

True

In [126]:
l = [6, 4, 5, 8, 2]
for i, b in enumerate(l):
    l[i] = b*b   
    
print(l)

[36, 16, 25, 64, 4]

Multiplying list with a scalar

In [127]:
'Kelly'*5

'KellyKellyKellyKellyKelly'

Remove all occurances of an element:

In [134]:
l=[2,3,4,5,6,2,4,5,66,5]
rem=5
indi=[]
for i, x in enumerate(l):
    if x == rem:  
        indi.append(i)
indi.reverse()   
for i in indi: 
        l.pop(i)   
print(l)

[2, 3, 4, 6, 2, 4, 66]

Extend

In [135]:
l = [3, 4, 5]
s = [99, 55, 88]
l.extend(s) 
print(l)

[3, 4, 5, 99, 55, 88]

Sort

In [136]:
l=[9,8,7,6,5,4,3,1]
l.sort()

In [137]:
l

[1, 3, 4, 5, 6, 7, 8, 9]

Sorted

In [138]:
l=[33,22,555,6,33,2,8]
print(sorted(l))

[2, 6, 8, 22, 33, 33, 555]

Unpacking

In [139]:
l=[12,11,14]
s,r,z=l

In [140]:
s

12

In [141]:
r

11

In [142]:
z

14

In [143]:
l

[12, 11, 14]

In [144]:
l[::-1]

[14, 11, 12]

In [145]:
l[1:]

[11, 14]