Set Operations

Creating a set:

In [2]:
s={2,3,4,4,5}
print(s)

{2, 3, 4, 5}

In [3]:
s=set()
print(type(s))

<class 'set'>

Converting a list to set:

In [9]:
l=[2,3,4,5,5,0,3,2,1,1,4,5,6,6]
s=set(l)
print(s)

{0, 1, 2, 3, 4, 5, 6}

Set doesn't allow duplicates:

In [11]:
s={'apple','banana','apple','mango'}
print(s)

{'banana', 'mango', 'apple'}

Adding an element to a set():

In [12]:
s.add('Orange')

In [13]:
s

{'Orange', 'apple', 'banana', 'mango'}

Removing an element from set():

In [23]:
s={1,4,3,2,5,6}
s.pop()
print(s)

{2, 3, 4, 5, 6}

In [26]:
s.pop()
s

{4, 5, 6}

In [29]:
s.pop
print(s)

{66, 3, 44, 77, 55}

In [27]:
s={44,55,66,77,3}
s.remove(s[0])
print(s)

TypeError: 'set' object does not support indexing

In [20]:
s

{3, 44, 55, 66, 77}

In [31]:
l={33,44,55,66,3}
l.remove(3)
l

{33, 44, 55, 66}

Using discard() function:

In [34]:
l={12,13,14,15}
x=3
l.discard(x)
print(l)

{12, 13, 14, 15}

Updating a set

In [35]:
s1={2,3,4,5,6,7}
s2={24,53,64,88,2,3}
s1.update(s2)
print(s1)

{64, 2, 3, 4, 5, 6, 7, 53, 24, 88}

In [37]:
l=[1,2,3]
l1=[2,4,5]
l.extend(l1)
print(l)

[1, 2, 3, 2, 4, 5]

Iterating through a set:

In [38]:
fr={'apple','orange','mango','grapes'}
for i in fr:
    print(i)

grapes
orange
mango
apple

Set unpacking:

In [40]:
s={'ball','bat','helmet','lbpad'}
print(s)
x,c,v,b=s
print(x,c,v,b)

{'lbpad', 'bat', 'helmet', 'ball'}
lbpad bat helmet ball

Set uses a hash value

In [42]:
hash('apple')

-93827987

In [43]:
hash(2)

2

In [44]:
hash(92)

92

IMP: Remove duplicates from the given list

In [49]:
l=[1,22,33,22,55,66,77,44,33,22,1]
l=list(set(l))
print(l)

[1, 66, 33, 44, 77, 22, 55]

In [50]:
s={[1,2,3,4],[2,3,4]}

TypeError: unhashable type: 'list'

Faster Look-ups, O(1):

In [51]:
k={2,3,4,5}
4 in k

True

Relations between sets*****

UNION

In [53]:
s={22,44,55,66,77}
r={88,99,90,44,55}
uni=s.union(r)
print(uni)

{66, 99, 44, 77, 22, 55, 88, 90}

In [56]:
s={22,44,55,66,77}
r={88,99,90,44,55}
uni=s | r
print(uni)

{66, 99, 44, 77, 22, 55, 88, 90}

INTERSECTION

In [54]:
s={22,44,55,66,77}
r={88,99,90,44,55}
int=s.intersection(r)
print(int)

{44, 55}

In [55]:
s={22,44,55,66,77}
r={88,99,90,44,55}
int=s & r
print(int)

{44, 55}

DIFFERENCE

In [57]:
s={22,44,55,66,77}
r={88,99,90,44,55}
diff=s.difference(r)
print(diff)

{66, 77, 22}

In [59]:
s={22,44,55,66,77}
r={88,99,90,44,55}
int=s - r
print(int)

{66, 77, 22}

Program: Given customer ids who deposited money, for the last three days. 
1. Find the customer ids who deposited on 1st and 3rd days but not on the 2nd day.

In [63]:
day1 = [1122, 1234, 1256, 1389, 1122, 1234, 1389, 1122, 1389, 1234]
day2 = [1134, 1256, 1399, 1455, 1399, 1256, 1134, 1455, 1256, 1134]
day3 = [1256, 1455, 1122, 1899, 1256, 1122, 1455, 1899, 1455, 1122] 


d1 = set(day1)
d2 = set(day2)
d3 = set(day3) 

print('cust who deposited on 1st and 3rd day')
print((d1 & d3) - d2)

cust who deposited on 1st and 3rd day
{1122}

In [64]:
print('Customers who did deposites all the threee days:')
print(d1 & d2 & d3)

Customers who did deposites all the threee days:
{1256}

Some more functions on sets

In [65]:
s1 = {3, 4, 5, 6}
s2 = {5, 6, 4} 
s3 = {8, 7, 9}

In [66]:
s1.isdisjoint(s3)

True

In [67]:
s1.issubset(s2)

False

In [68]:
s2.issubset(s1)

True

In [69]:
s1.issuperset(s3)

False

In [70]:
s1.issuperset(s2)

True

FROZENSET

In [71]:
fs1 = frozenset([2, 3])
fs2 = frozenset([4, 5])
fs3 = frozenset([2, 3])
s = {fs1, fs2, fs3}
s

{frozenset({4, 5}), frozenset({2, 3})}