Dictionary

In [4]:
di={'apple':10,'banan':20}

In [5]:
di

{'apple': 10, 'banan': 20}

In [6]:
di['apple']

10

In [7]:
di[10]

KeyError: 10

In [8]:
di(0)

TypeError: 'dict' object is not callable

In [10]:
d={'Sunday':10,'Monday':20,'Tuesday':33,'Wednsday':37.33,'Thursday':37,'Friday':32.44,'Saturday':39}
d

{'Sunday': 10,
 'Monday': 20,
 'Tuesday': 33,
 'Wednsday': 37.33,
 'Thursday': 37,
 'Friday': 32.44,
 'Saturday': 39}

In [13]:
d['Sunday']

10

In [14]:
for i in d:
    print(i)

Sunday
Monday
Tuesday
Wednsday
Thursday
Friday
Saturday

Correct way to write a for loop for a dictionary

In [18]:
for i in d:
    print(i,d[i])

Sunday 10
Monday 20
Tuesday 33
Wednsday 37.33
Thursday 37
Friday 32.44
Saturday 39

Creating an empty dictionary:

In [19]:
f={}

In [20]:
f=dict()

In [24]:
type(f)

dict

Creating dict and initilizing with key-value pairs:

In [25]:
f={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(f)

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33}

In [26]:
f

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33}

Retreiving value from dictionary

In [27]:
f

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33}

In [29]:
print(f['Mango'])

1

In [30]:
f['Orange']

40

In [31]:
f['peach']=100

In [32]:
f

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33, 'peach': 100}

Adding key-value pair to a dictionary: 
Syntax: 
        d[Key] = Value

In [34]:
d={'apple':a,'ball':b}

NameError: name 'a' is not defined

In [35]:
d={'bat':30,'pad':40,'ball':49,'footbal':50}

In [37]:
d['volleyball']=300

In [38]:
d

{'bat': 30, 'pad': 40, 'ball': 49, 'footbal': 50, 'volleyball': 300}

Accessing a key, which doesn't exist:

In [39]:
d

{'bat': 30, 'pad': 40, 'ball': 49, 'footbal': 50, 'volleyball': 300}

In [40]:
d['grape']

KeyError: 'grape'

Using get() function:

In [43]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}

In [48]:
print(d.get('grapes'))

None

We can also specify, default value to return, if key doesn't exist.

In [50]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(d.get('grapes',43))

43

Setting default Value if no value exists

In [52]:
d={'Mango':1,'Pine':30,'Orange':40,'Peach':33}
print(d.setdefault('grapes',43))

43

In [53]:
d

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33, 'grapes': 43}

In [54]:
d.setdefault('Mango',40)

1

Checking Key existance in a dictionary

In [56]:
d

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33, 'grapes': 43}

In [58]:
v={'Bentley':11,'Audi':12,'Mercedez':32,'Lambo':43}
key='Volvo'
print(key in d)

False

In [60]:
v['Volvo']=32

In [61]:
v

{'Bentley': 11, 'Audi': 12, 'Mercedez': 32, 'Lambo': 43, 'Volvo': 32}

Removing a key-value pair

In [62]:
v

{'Bentley': 11, 'Audi': 12, 'Mercedez': 32, 'Lambo': 43, 'Volvo': 32}

In [63]:
key='Audi'
v.pop(key)
print(v)

{'Bentley': 11, 'Mercedez': 32, 'Lambo': 43, 'Volvo': 32}

Iterating through for loop

In [64]:
v

{'Bentley': 11, 'Mercedez': 32, 'Lambo': 43, 'Volvo': 32}

In [65]:
for i in v:
    print(i ,v[i])

Bentley 11
Mercedez 32
Lambo 43
Volvo 32

Removing a key-value pair

In [66]:
v

{'Bentley': 11, 'Mercedez': 32, 'Lambo': 43, 'Volvo': 32}

In [67]:
v.keys()

dict_keys(['Bentley', 'Mercedez', 'Lambo', 'Volvo'])

In [68]:
d.values()

dict_values([1, 30, 40, 33, 43])

In [69]:
d.items()

dict_items([('Mango', 1), ('Pine', 30), ('Orange', 40), ('Peach', 33), ('grapes', 43)])

iterate through a list of tuples

In [70]:
d

{'Mango': 1, 'Pine': 30, 'Orange': 40, 'Peach': 33, 'grapes': 43}

In [72]:
for i, j in d.items():
    print(i,j)

Mango 1
Pine 30
Orange 40
Peach 33
grapes 43

Converting a list of tuples to a dict:

In [73]:
lt=[('apple',30),('banans',30),('orange',60)]
dlt=dict(lt)
print(dlt)

{'apple': 30, 'banans': 30, 'orange': 60}

Converting a list of list to a dict:

In [74]:
ll=[['banana',30],['apple',100],['pulm',50]]
dll=dict(ll)
print(dll)

{'banana': 30, 'apple': 100, 'pulm': 50}

Updating/extending a dictionary

In [76]:
d1={'sony':30,'samsung':23,'moto':45,'back':55}
d2={'apple':33,'oneplus':21}
d1.update(d2)
print(d1)

{'sony': 30, 'samsung': 23, 'moto': 45, 'back': 55, 'apple': 33, 'oneplus': 21}

type constraints in Keys and Values:

In [77]:
d = {    1234        : ['C++', 'Java'],  
     (1299, 1289): ('Python', 'SQL'),  
     '1288'        : {'C#', 'Python'},
     (1266, 1277): 'Pyhon'    }
print(d[(1299, 1289)])

('Python', 'SQL')

In [78]:
print(d[1234])

['C++', 'Java']

In [79]:
print(d['1288'])

{'C#', 'Python'}

Indexing

USECASE 1

In [86]:
person_data = {    ('John Corner', 1964, 'Newyork') : ('John Corner', 'St Mary St', 'Stuart Corner'),
                   ('Ian Flemming', 1967, 'Perth')  : ('Ian Flemming','Richmond St', 'Grant Flemmin'),
               ('John Corner', 1964, 'Sydney')  : ('John Corner', 'Orchid str', 'Steffan Corner }

In [88]:
('John Corner', 1964, 'Sydney') in person_data

True

COUNTING

In [89]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",
         "Banana", "Apple", "Peach", "Apple", "Banana"] 
for i in words:
    print( i,words.count(i))

Apple 4
Orange 1
Apple 4
Banana 3
Peach 2
Banana 3
Apple 4
Peach 2
Apple 4
Banana 3

In [105]:
words

['Apple',
 'Orange',
 'Apple',
 'Banana',
 'Peach',
 'Banana',
 'Apple',
 'Peach',
 'Apple',
 'Banana']

In [119]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach", 
         "Banana", "Apple", "Peach", "Apple", "Banana"] 
count={}
for i in words:
    if i not in count:
        count[i] =1
    else:
        count[i] += 1
print(count)

{'Apple': 4, 'Orange': 1, 'Banana': 3, 'Peach': 2}

In [114]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
         "Banana", "Apple", "Peach", "Apple", "Banana"]
count = {} 
for word in words:   
    if word not in count:
        count[word] = 1 
    else:  
            count[word] += 1
print(count)

{'Apple': 4, 'Orange': 1, 'Banana': 3, 'Peach': 2}

In [141]:
words

['Apple',
 'Orange',
 'Apple',
 'Banana',
 'Peach',
 'Banana',
 'Apple',
 'Peach',
 'Apple',
 'Banana']

MAX COUNT

In [142]:
cnt=max(count.items(),key=lambda x:x[1])
print(cnt)

('Apple', 4)

In [153]:
sorted(count.items())
print(sorted)

TypeError: 'dict_items' object is not callable

In [156]:
v.items()

AttributeError: 'str' object has no attribute 'items'

In [ ]:
sorted()