Diﬀerences with List Brackets: Tuples uses paranthesis in declaration

In [1]:
l=[1,2,3,3,4,5,6]
t=(1,5,6,7,3,2,9)

In [2]:
t

(1, 5, 6, 7, 3, 2, 9)

In [3]:
l

[1, 2, 3, 3, 4, 5, 6]

Mutability: Elements cannot be modiﬁed after initilization

In [4]:
l=[2,3,4,5]
l[2]=99

In [5]:
l

[2, 3, 99, 5]

In [6]:
t=(1,3,4,5)
t(1)=11

SyntaxError: can't assign to function call (<ipython-input-6-32fa34c940ff>, line 2)

In [2]:
t=(1,3,4,5)
t[1]=11

TypeError: 'tuple' object does not support item assignment

When having single element: We put a comma at the end, when there is one element in the tuple, Why? This is required, to diﬀerentiate with an expression.

In [8]:
t=(9,)

In [9]:
t

(9,)

In [10]:
x=(9)
y=(9,)
print(x*3)
print(y*3)
print(type(x),type(y))

27
(9, 9, 9)
<class 'int'> <class 'tuple'>

Similarites with List
Declaration:

In [11]:
l=[1,2,3,4]
t=(22,33,44,55)
t1=2,4,5,6,6
print(type(l),type(t),type(t1))

<class 'list'> <class 'tuple'> <class 'tuple'>

Indexing

In [14]:
l = [3, 5, 4, 2, 1]  
t = (3, 5, 4, 2, 1) 
print(l[2],t[2])

4 4

Scalar Multiplication:

In [15]:
print([12,32,44,55]*3)
print((12,32,44,55)*3)

[12, 32, 44, 55, 12, 32, 44, 55, 12, 32, 44, 55]
(12, 32, 44, 55, 12, 32, 44, 55, 12, 32, 44, 55)

Iteration

In [20]:
l=[1,2,3,4,5]
for i in l:
    print(i)
t=(1,2,3,4,5)
print('Tuple')
for j in t:
    print(j)

1
2
3
4
5
Tuple
1
2
3
4
5

Slicing and -ve Indexing:

In [23]:
l=[22,33,4,55,66]
t=(22,33,4,55,66)
print(l[1:])
print(t[2:])

[33, 4, 55, 66]
(4, 55, 66)

In [24]:
t = (1234, 'John', 25000.0, True)
l = [8, 2, 5, 4, 9, 1, 3, 7, 10, 6]
print ("-------") 
print ("Slicing") 
print ("-------")
print (t[2:7:2]) 
print (l[2:7:2])
print ("------------") 
print ("-Ve Indexing") 
print ("------------")
print(t[::-1]) 
print(l[::-1])

-------
Slicing
-------
(25000.0,)
[5, 9, 3]
------------
-Ve Indexing
------------
(True, 25000.0, 'John', 1234)
[6, 10, 7, 3, 1, 9, 4, 5, 2, 8]

Tuple unpacking
Unpacking:

In [25]:
t=(9,6,7)
x,c,v=t

In [26]:
x

9

In [28]:
x,y,z=(7,5,4)
print('x is {} ,y is {},z is {}'.format(x,y,z))

x is 7 ,y is 5,z is 4

Swapping two values in python:

In [29]:
x=233
y=56
x,y = y,x
print(x,y)

56 233

In [30]:
l

[8, 2, 5, 4, 9, 1, 3, 7, 10, 6]

COunting

In [34]:
t=[1,2,3,4,2,3,4,22,2]
t.count(2)

3

** Iterating list of tuples:

In [35]:
l=(['Apple',1],['Orange',3],['Coco',4])
for i in l:
    print(i)

['Apple', 1]
['Orange', 3]
['Coco', 4]

In [37]:
for x in l:   
    print (x[0], '->>', x[1])

Apple ->> 1
Orange ->> 3
Coco ->> 4

In [38]:
for fruit, count in l:
    print(fruit, count)

Apple 1
Orange 3
Coco 4

In [39]:
for x, y in l: 
    print(x, y)

Apple 1
Orange 3
Coco 4

Tuple unpacking

In [40]:
fruit_bucket = [('Apple', 30), ('Grape', 20), ('Mango', 25), ('peach', 35)] 

for i , x in fruit_bucket:
    if x>20:
        print(i,x)

Apple 30
Mango 25
peach 35

In [47]:
eid, name, dept, sal, age =  [1237, 'Amanda', 'Chemistry', 25000, 45] 
eid, name, dept, sal, age =  (1237, 'Amanda', 'Chemistry', 25000, 45)
print(eid,name,dept,sal,age)

1237 Amanda Chemistry 25000 45

In each iteration one tuple will be unpacked to 'fruit' and 'count' variables.

Exercise:
employee_db = [(1234, 'John', 'Physics', 23000),
(1235, 'Christen', 'Maths', 13000),
(1236, 'Samanta', 'Maths', 40000),
(1237, 'Amanda', 'Chemistry', 25000),
(1238, 'Vicky', 'Maths', 10000),] 
Print all the employees whose salaries are greater than the average salary

In [50]:
employee_db = [(1234, 'John', 'Physics', 23000),
               (1235, 'Christen', 'Maths', 13000),  
               (1236, 'Samanta', 'Maths', 40000),                
               (1237, 'Amanda', 'Chemistry', 25000), 
               (1238, 'Vicky', 'Maths', 10000),   
              ]
total_sal = 0 

for *other,esal in employee_db:
    total_sal+=esal
    
average_sal= total_sal/ len(employee_db)
print(average_sal)

for *other, esal in employee_db: 
    if esal > average_sal:
        print(other + [esal])

22200.0
[1234, 'John', 'Physics', 23000]
[1236, 'Samanta', 'Maths', 40000]
[1237, 'Amanda', 'Chemistry', 25000]

Ignoring unwanted values using '_'

In [48]:
eid, *_, age =  (1237, 'Amanda', 'Chemistry', 25000, 45) 
print(_, eid, age, type(other))

['Amanda', 'Chemistry', 25000] 1237 45 <class 'list'>

In [51]:
for *other,sub,esal in employee_db:
    print(sub,esal)

Physics 23000
Maths 13000
Maths 40000
Chemistry 25000
Maths 10000